.container {
  padding: 0 2rem;
  width: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #0a1013 0%,
    #419d60 0.01%,
    #1d3c38 54.63%,
    #0a1013 100%
  );
}

.main {
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}
.logo {
  color: #94ffdf;
  font-family: "DFVN MBF Space Habitat";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.actionBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.ju367v9h {
  border-radius: 4px;
  border: 1px solid #2b937a;
  background: radial-gradient(2058.68% 50% at 50% 50%) !important;
}
.actionBtnConnet > .ju367v9h {
  border-radius: 4px;
  border: 1px solid var #2b937a;
  background: radial-gradient(2058.68% 50% at 50% 50%);
}
.actionBtnConnet {
  border-radius: 4px;
  border: 1px solid #2b937a;
  background: radial-gradient(2058.68% 50% at 50% 50%);
}
.actionBtnSelect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #2b937a;
  padding: 12px 12px 12px 13px;
  gap: 10px;
}
.actionBtnSelectLang {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: radial-gradient(
    2058.68% 50% at 50% 50%,
    rgba(43, 147, 122, 0.1) 0%,
    rgba(43, 147, 122, 0) 100%
  );
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  outline: none;
}
.actionBtnOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}

/* content */
.homeContent {
  color: #fff;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 24px;
}
.homeContentTitle {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: linear-gradient(180deg, #e2fff7 0%, #28ffc6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.homeContentSub {
  max-width: 610.5px;
  margin: 30px auto;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.homeContentChooie {
  max-width: 943px;
  margin: auto;
  border-radius: 4px;
  background: #131d20;
  padding: 26px 16px 25px 0px;
}
.homeContentChooie > ul {
  padding-left: 12px;
}
.homeContentChooieItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.homeContentChooieImage {
  padding: none;
  margin-top: 6px;
}
.homeContentChooieItemText {
  /* font-family: Lexend; */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #94ffdf;
  text-align: start;
}
.homeContentGemItem {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* margin: auto; */
}

.homeContentGemTitle {
  max-width: 593px;
  margin: 30px auto 25px auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.homeContentGemItemMain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.homeContentGemItemText {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #94ffdf;
}
.homeContentPurchase {
  padding: 40px 0px;
}
.homeContentPurchaseContainer {
  border-radius: 4px;
  background: #131d20;
  max-width: 876px;
  margin: auto;
  padding: 23.941px 24px 25.059px 24px;
}
.homeContentPurchaseMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: none;
  cursor: pointer;
}
.homeContentPurchaseTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #94ffdf;
}
.homeContentPurchaseSubTitleMain {
  text-align: start;
  list-style: none;
}
.homeContentPurchaseSubTitleItem {
  padding: none;
  list-style: none;
  margin-top: 25px;
}
.homeContentPurchaseSubTitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
.homeContentSubmit {
  max-width: 588px;
  height: 60px;
  margin: auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding-left: 38px;
  padding-bottom: 30px;
}
.homeContentSubmitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homeContentSubmitInput {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.homeContentSubmitBtn {
  width: 185px;
  border-radius: 4px;
  background: #2b937a;
  padding: 15px 18px;
  color: #f0fffb;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.homeContentTextEnd {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: linear-gradient(180deg, #e2fff7 0%, #28ffc6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 32px 0px 52px 0px;
}
.homeFooter {
  border-top: 1px dashed  rgba(255, 255, 255, 0.10);
  text-align: center;
  padding: 27px 0px 15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #9aa7a4;
}
